
.mainarea{
    display: flex;
    flex-direction: row;
    padding: 200px;
    font-family: 'Prata', serif;
    letter-spacing: 2px;
}

.mainarea img{
    width: 500px;
    height: 300px;
    float: right;
    padding: 0px 50px ;
}

.mainarea text{
    float: left;
    width: 250px;
    text-align: center;
    border:  black 1px solid;
}

body{
    background-color: #FFF5DA;
    font-style: 'Benne', serif;
}
