
.mainarea{
    display: flex;
    flex-direction: row;
    padding: 200px;
    font-family: 'Prata', serif;
    letter-spacing: 2px;
    background-color: #FFF5DA;
}

.mainarea>img{
    width: 500px;
    height: 300px;
    float: right;
    padding: 0px 50px ;
    box-shadow: 5px 5px 20px #888888;
}
.mainarea>img:hover{
    transform: translate(5px ,-5px);
    transition: 0.3s;
    /* z-index: -1; */
}

.mainarea text{
    float: left;
    width: 250px;
    text-align: center;
    border:  black 1px solid;
}

body{
    font-style: 'Benne', serif;
}

.secondarea{
    background-color: #FFD8CC;
    text-align: center;
    padding: 50px;
}

.secondarea h1{
    font-family: 'Prata', serif;
    text-decoration: underline;
}
.secondarea h3{
    font-family: 'Satisfy', cursive;
}
.belowMain{
    display: flex;
    /* background-color: bisque; */
    padding: 23px;
    /* text-align: center; */
    justify-content: center;
}
.belowMain>.card{
    margin: 10px 30px;
    box-shadow: 5px 5px 20px #bdbcbc;

}
.belowMain>.card:hover{
    transition: 0.3s;
    transform: translate(0px ,-5px);
    /* transition: 0.3s; */
}

.footer{
    text-align: center;
    height: 52px;
    background-color: rgb(236, 236, 236);
}
