.navbar__route{
    display: flex;
    flex-direction: row;
    white-space: normal;
    background-color: whitesmoke;
}
.navbar__route>li{
    padding: 23px;
}
.mailer{
    color: white;
}
.navbar li{
    border: black;
}

.navbar{
    color:whitesmoke;
}

.navbar h1{
    font-size: 45px;
    font-family: 'Poiret One', cursive;
    color: whitesmoke;
}

.navb{
    padding: 10px;
    float: right;
    margin: 5px;
}
.btn:hover{
    color: white;
    /* background-color: gray; */
}
.form__btn{
    margin-left: 63rem;
}