.app__signup{
    text-align: center;
    margin: 1rem;

}
.signup__form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    text-align: center;
}
.sign__form>input{
    padding: 0.5rem;
}